@charset "UTF-8";
@import "../fonts/fonts.css";
body {
  margin: 0;
  padding: 0;
  line-height: 1;
}

a {
  text-decoration: none;
  color: #000;
  transition: all 0.2s ease-in-out;
}

input:focus, textarea:focus {
  outline: none;
}

body {
  font-family: "Raleway", "Gotham Pro", sans-serif;
}

.container {
  width: 1320px;
  padding: 0 15px;
  box-sizing: border-box;
  margin: 0 auto;
}

.btnLight {
  background: #38BCEA;
  display: inline-block;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
  font-weight: 500;
  padding: 20px 45px;
  box-sizing: border-box;
  border-radius: 4px;
}
.btnLight:hover {
  background: #C3EBF9;
  color: #172B52;
}
.btnLight:active {
  background: #172B52;
  color: #ffffff;
}

.btnDark {
  border: 4px solid #15499F;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
  font-weight: 500;
  padding: 20px 45px;
  box-sizing: border-box;
  border-radius: 4px;
}
.btnDark:hover {
  border-color: #246CE2;
}
.btnDark:active {
  border-color: #0B2550;
  background: #0B2550;
}

.heading h2 {
  font-family: "Gotham Pro", "Raleway", sans-serif;
  font-size: 40px;
  margin: 0;
  position: relative;
  padding-bottom: 12px;
}
.heading h2:before {
  content: "";
  width: 97px;
  height: 7px;
  background: #38BCEA;
  position: absolute;
  left: 0;
  bottom: 0;
}
.heading span, .heading p {
  font-size: 18px;
  line-height: 24px;
  color: #6C6C6A;
  display: block;
  margin-top: 5px;
}

.slick-dots {
  bottom: 0;
  left: 0;
}
.slick-dots li {
  margin: 0 5px;
  list-style: none;
  width: auto;
  height: auto;
}
.slick-dots li.slick-active button {
  border: 2px solid #38BCEA;
}
.slick-dots li.slick-active button:after {
  content: "";
  width: 6px;
  height: 6px;
  background: #1E6680;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -3px 0 0 -3px;
  border-radius: 50%;
}
.slick-dots li button {
  width: 14px;
  height: 14px;
  background: #C3EBF9;
  padding: 0;
  border-radius: 50%;
}
.slick-dots li button:before {
  display: none;
}

.slick-next, .slick-prev {
  width: 50px;
  height: 50px;
}
.slick-next:before, .slick-prev:before {
  display: none;
}
.slick-next:after, .slick-prev:after {
  content: "";
  width: 50px;
  height: 50px;
  background: #C3EBF9 url(../img/slider-active-arrow.png) no-repeat center center;
  border-radius: 50%;
  position: absolute;
  transition: background 0.2s ease-in-out;
  left: 0;
  top: 0;
}
.slick-next.slick-disabled:after, .slick-prev.slick-disabled:after {
  background: #C3EBF9 url(../img/slider-disabled-arrow.png) no-repeat center center;
}

.slick-prev {
  left: -10px;
}
.slick-prev:hover:after {
  background: #172B52 url(../img/slider-active-arrow.png) no-repeat center center;
}
.slick-prev.slick-disabled:after {
  transform: rotate(0);
}
.slick-prev.slick-disabled:hover:after {
  background: #172B52 url(../img/slider-disabled-arrow.png) no-repeat center center;
}
.slick-prev:after {
  transform: rotate(180deg);
}

.slick-next {
  right: -10px;
}
.slick-next:hover:after {
  background: #172B52 url(../img/slider-active-arrow.png) no-repeat center center;
}
.slick-next.slick-disabled:after {
  transform: rotate(180deg);
}
.slick-next.slick-disabled:hover:after {
  background: #172B52 url(../img/slider-disabled-arrow.png) no-repeat center center;
}

.breadcrumbs {
  padding-bottom: 30px;
}
.breadcrumbs ul {
  margin: 0;
  padding: 0;
  display: flex;
}
.breadcrumbs ul li {
  list-style: none;
  color: #999999;
  font-size: 14px;
  line-height: 17px;
  padding: 0 10px;
}
.breadcrumbs ul li:first-child {
  padding-left: 15px;
  position: relative;
}
.breadcrumbs ul li:first-child img {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.breadcrumbs ul li a {
  position: relative;
  color: #38BCEA;
}
.breadcrumbs ul li a:after {
  content: "/";
  color: #38BCEA;
  font-size: 14px;
  line-height: 17px;
  position: absolute;
  right: -14px;
  top: 1px;
}

/* Header Styles */
.top-header .logo img {
  height: auto;
}
.top-header .mobile-btn {
  display: none;
}
.top-header-siteName {
  background: #38BCEA;
  text-align: center;
  padding: 12px 0;
}
.top-header-siteName span {
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
}
.top-header-container {
  border-bottom: 1px solid #EEEEEE;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0 20px;
}
.top-header-contact {
  display: flex;
}
.top-header-contact .btnLight {
  font-size: 15px;
  line-height: 18px;
  padding: 11px 35px 12px 35px;
}
.top-header-contact-block {
  display: flex;
  align-items: center;
  position: relative;
}
.top-header-contact-block:not(:last-child) {
  padding: 0 40px 0 26px;
}
.top-header-contact-block p {
  font-size: 16px;
  line-height: 19px;
  margin: 0;
  color: #172B52;
}
.top-header-contact-block p em {
  color: #999999;
  font-style: normal;
}
.top-header-contact-block ul {
  padding: 0;
  margin: 0;
}
.top-header-contact-block ul li {
  list-style: none;
  font-size: 18px;
  line-height: 18px;
}
.top-header-contact-block:before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.top-header-contact-block.telephone:before {
  width: 12px;
  height: 12px;
  left: 4px;
  margin-top: 2px;
  background: url(../img/phone.png) no-repeat center center;
}
.top-header-contact-block.work-time:before {
  width: 18px;
  height: 20px;
  left: 0;
  background: url(../img/calendar.png) no-repeat center center;
}
.top-header-contact-block.address:before {
  width: 14px;
  height: 18px;
  left: 4px;
  background: url(../img/map.png) no-repeat center center;
}

/* Top Nav */
.top-nav {
  padding: 23px 0 28px;
}
.top-nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
.top-nav ul li {
  list-style: none;
  font-size: 16px;
  line-height: 19px;
  margin: 0 25px;
  padding: 3px 0;
}
.top-nav ul li a:hover {
  color: #38BCEA;
}
.top-nav ul li.menu-item-has-children {
  position: relative;
}
.top-nav ul li.menu-item-has-children:hover .sub-menu {
  display: block;
}
.top-nav ul li.menu-item-has-children:hover .sub-menu .sub-menu {
  display: none;
}
.top-nav ul li.menu-item-has-children .sub-menu {
  display: none;
  position: absolute;
  border: 1px solid #EEEEEE;
  background: #ffffff;
  padding: 20px 0;
  flex-direction: column;
  z-index: 100;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 250px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}
.top-nav ul li.menu-item-has-children .sub-menu li {
  margin: 0;
}
.top-nav ul li.menu-item-has-children .sub-menu li.menu-item-has-children {
  position: static;
}
.top-nav ul li.menu-item-has-children .sub-menu li.menu-item-has-children a:before {
  content: "";
  width: 5px;
  height: 9px;
  background: url(../img/menu-arrow.png) no-repeat center center;
  position: absolute;
  right: 30px;
  top: 50%;
  margin-top: -4px;
}
.top-nav ul li.menu-item-has-children .sub-menu li.menu-item-has-children .sub-menu {
  display: none;
  left: 100%;
  bottom: 0;
  top: auto;
  transform: none;
}
.top-nav ul li.menu-item-has-children .sub-menu li.menu-item-has-children .sub-menu .menu-item-has-children:hover .sub-menu {
  display: block;
}
.top-nav ul li.menu-item-has-children .sub-menu li.menu-item-has-children .sub-menu .menu-item-has-children:hover .sub-menu a:before {
  display: none !important;
}
.top-nav ul li.menu-item-has-children .sub-menu li.menu-item-has-children .sub-menu .sub-menu {
  display: none;
}
.top-nav ul li.menu-item-has-children .sub-menu li.menu-item-has-children:hover .sub-menu {
  display: block;
}
.top-nav ul li.menu-item-has-children .sub-menu li.menu-item-has-children:hover .sub-menu .sub-menu {
  display: none;
}
.top-nav ul li.menu-item-has-children .sub-menu li a {
  color: #000;
  padding: 10px 40px 10px 30px;
  display: block;
}
.top-nav ul li.menu-item-has-children .sub-menu li a:hover {
  background: #C3EBF9;
}
.top-nav ul li.menu-item-has-children .sub-menu li a:after {
  display: none;
}
.top-nav ul li.menu-item-has-children .sub-menu .sub-menu {
  display: none;
}
.top-nav ul li.menu-item-has-children a {
  color: #EA3938;
  position: relative;
  display: inline-block;
  padding-right: 25px;
}
.top-nav ul li.menu-item-has-children a:hover:after {
  transform: rotate(180deg);
}
.top-nav ul li.menu-item-has-children a:after {
  content: "";
  width: 14px;
  height: 8px;
  background: url(../img/menu-arrow-down.png) no-repeat center center;
  position: absolute;
  right: 5px;
  top: 50%;
  margin-top: -4px;
  transition: all 0.2s ease-in-out;
}

/* Stock Banner */
.stocks-banner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.stocks-banner-text {
  padding-left: 120px;
  box-sizing: border-box;
  flex-basis: 580px;
}
.stocks-banner-text span {
  font-size: 18px;
  line-height: 21px;
  color: #6C6C6A;
  display: block;
}
.stocks-banner-text h2 {
  font-size: 50px;
  color: #172B52;
  font-family: "Gotham Pro", "Raleway", sans-serif;
  margin: 10px 0;
}
.stocks-banner-text .btnLight {
  margin-top: 50px;
}
.stocks-banner-img {
  flex-basis: 680px;
}
.stocks-banner-img img {
  max-width: 100%;
}
.stocks-banner .advantages {
  padding: 35px 0;
}
.stocks-banner .advantages-container {
  display: flex;
}
.stocks-banner .advantages-card {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.stocks-banner .advantages-card-img {
  flex-basis: 47px;
  text-align: right;
}
.stocks-banner .advantages-card-text {
  padding-left: 10px;
}
.stocks-banner .advantages-card span {
  font-size: 18px;
  line-height: 21px;
  color: #6C6C6A;
}
.stocks-banner .advantages-card:first-child {
  flex-basis: 390px;
  padding-left: 70px;
}
.stocks-banner .advantages-card:not(:first-child) {
  flex-basis: 300px;
  padding-left: 100px;
}

/* Service */
.service {
  padding: 115px 0 50px;
}
.service-container {
  display: flex;
  flex-wrap: wrap;
  margin: 20px -15px 0;
}
.service-card {
  margin: 30px 15px 0;
  border-radius: 20px;
  border: 1px solid #C3EBF9;
  box-sizing: border-box;
}
.service-card-text {
  width: 60%;
  padding: 40px 0 20px 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.service-card h3 {
  font-size: 24px;
  line-height: 29px;
  color: #172B52;
  font-weight: 500;
  margin: 0;
}
.service-card p {
  font-size: 18px;
  line-height: 24px;
  margin: 10px 0 50px;
  color: #6C6C6A;
}
.service-card a {
  font-size: 18px;
  line-height: 21px;
  padding-bottom: 2px;
  color: #38BCEA;
  position: relative;
  display: inline-block;
  padding-right: 28px;
  border-bottom: 1px solid transparent;
}
.service-card a:hover {
  border-color: #38BCEA;
}
.service-card a:after {
  content: "";
  width: 18px;
  height: 10px;
  background: url(../img/link-arrow-right.png) no-repeat center center;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -5px;
}
.service-card:not(.last-card) {
  flex-basis: calc(33.33% - 30px);
}
.service-card.last-card {
  flex-basis: calc(50% - 30px);
}
.service-slogan {
  flex-basis: calc(50% - 30px);
  margin: 30px 15px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.service-slogan h3 {
  font-size: 24px;
  line-height: 29px;
  color: #172B52;
  font-weight: 500;
  margin: 0;
}
.service-slogan p {
  font-size: 18px;
  line-height: 25px;
  color: #6C6C6A;
  margin: 15px 0 0;
}

/* About Us */
.about-us {
  padding: 100px 0 150px;
}
.about-us .heading span, .about-us .heading p {
  width: 60%;
}
.about-us-container {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  align-items: center;
}
.about-us-text {
  flex-basis: 500px;
}
.about-us-text h3 {
  color: #6C6C6A;
  font-size: 24px;
  margin: 0;
  font-family: "Gotham Pro", "Raleway", sans-serif;
}
.about-us-text p {
  font-size: 18px;
  line-height: 27px;
  color: #6C6C6A;
  margin: 10px 0 0;
}
.about-us-chief {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.about-us-chief-img {
  flex-basis: 140px;
  height: 140px;
  border: 14px solid #C3EBF9;
  box-sizing: border-box;
  border-radius: 50%;
}
.about-us-chief-info {
  flex-basis: calc(100% - 140px);
  padding-left: 10px;
  box-sizing: border-box;
}
.about-us-chief-info h4 {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  color: #172B52;
  margin: 0 0 5px;
}
.about-us-chief-info ul {
  margin: 0;
  padding: 0;
}
.about-us-chief-info ul li {
  list-style: none;
  font-size: 12px;
  line-height: 16px;
  margin: 0 0 3px;
}
.about-us-chief-info ul li strong {
  color: #6C6C6A;
  font-weight: 400;
}
.about-us-slider {
  width: calc(100% - 550px);
  padding: 0 55px 30px;
  box-sizing: border-box;
}
.about-us-slide-img {
  width: 100%;
  height: 450px;
  background-size: cover !important;
}
.about-us-slide-img img {
  display: none;
  max-width: 100%;
}

/* Form Block */
.form-block {
  background: linear-gradient(84.27deg, #E6F2FF 0%, #FAF1ED 100%);
}
.form-block-container {
  padding: 80px;
}
.form-block form .wpcf7-spinner {
  display: none !important;
}
.form-block form .wpcf7-not-valid-tip {
  display: none;
}
.form-block form .wpcf7-response-output {
  font-size: 15px;
  margin: 15px 0 0;
  border: none;
  padding: 0;
  font-family: "Raleway", "Gotham Pro", sans-serif;
  line-height: 24px;
}
.form-block-text {
  width: 580px;
}
.form-block-text h2 {
  font-family: "Gotham Pro", "Raleway", sans-serif;
  font-size: 40px;
  line-height: 48px;
  margin: 0;
}
.form-block-text h2 span {
  color: #EA3938;
  font-size: 40px;
}
.form-block-text p {
  font-size: 20px;
  line-height: 28px;
  margin: 20px 0 0;
  color: #172B52;
}
.form-block-text p a {
  color: #38BCEA;
  padding-bottom: 2px;
  border-bottom: 1px solid transparent;
}
.form-block-text p a:hover {
  border-color: #38BCEA;
}
.form-block-text input:not([type=submit]) {
  width: 255px;
  height: 71px;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 24px;
  padding: 0 20px;
  color: #BBBBBB;
  border: 1px solid transparent;
}
.form-block-text input:not([type=submit])::-moz-placeholder {
  opacity: 1;
}
.form-block-text input:not([type=submit])::-webkit-input-placeholder {
  opacity: 1;
}
.form-block-text input:not([type=submit]).wpcf7-not-valid {
  border-color: #EA3938;
}
.form-block-text input[type=submit] {
  width: 295px;
  text-align: center;
  border: none;
  padding: 24px 0;
  transition: all 0.2s linear;
  margin-left: 20px;
  margin-top: 10px;
}
.form-block-text input[type=submit]:hover {
  cursor: pointer;
}
.form-block-text span {
  font-size: 15px;
  line-height: 21px;
  color: #6C6C6A;
  display: inline-block;
  margin-top: 10px;
}
.form-block-text span a {
  border-bottom: 1px solid #6C6C6A;
}
.form-block-text span a:hover {
  color: #38BCEA;
  border-color: #38BCEA;
}

/* Stocks Form */
.stocks-form .form-block-container {
  background: url(../img/stocks-form.png) no-repeat right 50px;
  background-size: 650px;
}

/* Our Team */
.our-team {
  padding: 150px 0 50px;
}
.our-team .heading span, .our-team .heading p {
  width: 40%;
}
.our-team-container {
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
  column-gap: 30px;
  margin-top: 50px;
}
.our-team-card {
  flex-basis: calc(33.33% - 22px);
  border: 1px solid #C3EBF9;
}
.our-team-card-container {
  padding: 40px 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.our-team-card h3 {
  color: #172B52;
  margin: 20px 0 0;
  font-size: 19px;
  line-height: 29px;
  font-weight: 500;
}
.our-team-card .specialize, .our-team-card .employee {
  color: #EA3938;
  font-size: 16px;
  line-height: 21px;
  padding-left: 23px;
  position: relative;
  margin: 5px 0;
}
.our-team-card .specialize:before {
  content: "";
  height: 19px;
  width: 18px;
  background: url(../img/our-team-icon.png) no-repeat center center;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -9px;
}
.our-team-card .employee:before {
  content: "";
  height: 19px;
  width: 12px;
  background: url(../img/our-team-employee.png) no-repeat center center;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -9px;
}
.our-team-card p {
  font-size: 14px;
  line-height: 19px;
  color: #443E3E;
  margin: 10px 0 0;
}
.our-team-card ul {
  margin: 10px 0 0;
  padding: 0;
}
.our-team-card ul li {
  list-style: none;
  font-size: 14px;
  line-height: 21px;
  color: #6C6C6A;
}
.our-team-card .request {
  margin-top: 20px;
}
.our-team-card .request a {
  width: 100%;
  text-align: center;
}
.our-team-img {
  text-align: center;
}
.our-team-img img {
  max-width: 100%;
}

/* Reviews */
.reviews {
  padding: 100px 0 240px;
}
.reviews .heading span, .reviews .heading p {
  width: 50%;
}
.reviews-container {
  display: flex;
  column-gap: 30px;
}
.reviews-card {
  flex-basis: 33.33%;
  margin-top: 50px;
}
.reviews-card-text {
  border: 1px solid #C3EBF9;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  position: relative;
}
.reviews-card-text-container {
  position: relative;
  padding: 40px 30px 30px;
  z-index: 2;
  min-height: 232px;
  background: #ffffff;
  box-sizing: border-box;
}
.reviews-card-text:before {
  content: "";
  width: 24px;
  height: 24px;
  z-index: 1;
  left: 50%;
  top: 100%;
  background: #ffffff;
  transform: translateX(-27px) rotate(45deg) translateY(-20px);
  border: 1px solid #C3EBF9;
  position: absolute;
}
.reviews-card-text h3 {
  font-size: 23px;
  line-height: 27px;
  margin: 0;
  text-align: center;
  font-weight: 500;
}
.reviews-card-text p {
  font-size: 14px;
  line-height: 21px;
  margin: 10px 0 0;
  text-align: center;
}
.reviews-card-img {
  border-radius: 50%;
  width: 56px;
  height: 56px;
  margin: 25px auto 0;
}
.reviews-card-author {
  text-align: center;
}
.reviews-card-author h3 {
  font-size: 19px;
  line-height: 29px;
  font-weight: 500;
  margin: 8px 0 0;
}
.reviews-card-author p {
  font-size: 14px;
  line-height: 21px;
  margin: 0;
}

/* Contact Form */
.contact-form .form-block-container {
  position: relative;
}
.contact-form .form-block-container:after {
  content: "";
  width: 643px;
  height: 617px;
  background: url(../img/contact-form.png) no-repeat center center;
  right: 0;
  bottom: 0;
  position: absolute;
}

/* Main Footer */
.main-footer {
  padding-top: 150px;
}
.main-footer .container {
  display: flex;
  justify-content: space-between;
}
.main-footer-info {
  flex-basis: 265px;
}
.main-footer-info p {
  font-size: 14px;
  line-height: 19px;
  color: #172B52;
  margin: 25px 0 0;
}
.main-footer-social {
  display: flex;
  margin: 25px 0 0;
  padding: 0;
}
.main-footer-social li {
  list-style: none;
}
.main-footer-social li:not(:last-child) {
  margin-right: 15px;
}
.main-footer-social li a {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #C3EBF9;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #C3EBF9;
}
.main-footer-social li a:hover {
  border-color: #172B52;
}
.main-footer-heading span {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  display: block;
}
.main-footer-menu ul {
  margin: 0;
  padding: 0;
}
.main-footer-menu ul li {
  font-size: 16px;
  margin: 20px 0 0;
  list-style: none;
}
.main-footer-menu ul li a {
  color: #6C6C6A;
}
.main-footer-menu ul li a:hover {
  color: #38BCEA;
}
.main-footer-contact ul {
  margin: 0;
  padding: 0;
}
.main-footer-contact ul li {
  list-style: none;
  margin: 30px 0 0;
  font-size: 14px;
  padding-left: 36px;
  position: relative;
}
.main-footer-contact ul li a:hover {
  color: #38BCEA;
}
.main-footer-contact ul li:first-child:before {
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -12px;
}
.main-footer-contact p {
  margin: 30px 0 0;
  font-size: 14px;
  padding-left: 36px;
  position: relative;
}
.main-footer-contact p:first-child:before {
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -12px;
}
.main-footer-mail ul li:first-child:before {
  background: url(../img/mail.png) no-repeat center center;
}
.main-footer-phone ul li:first-child:before {
  background: url(../img/phone.png) no-repeat center center;
}
.main-footer-map p:first-child:before {
  background: url(../img/map.png) no-repeat center center;
}
.main-footer-bottom {
  padding: 50px 0 30px;
}
.main-footer-bottom p {
  font-size: 14px;
  line-height: 17px;
  margin: 0;
  color: #6C6C6A;
}
.main-footer-bottom ul {
  margin: 0;
  padding: 0;
  display: flex;
}
.main-footer-bottom ul li {
  list-style: none;
  font-size: 14px;
}
.main-footer-bottom ul li:not(:last-child):not(:first-child) {
  padding: 0 10px;
}
.main-footer-bottom ul li:not(:last-child) {
  position: relative;
}
.main-footer-bottom ul li:not(:last-child):after {
  content: "|";
  color: #6C6C6A;
  font-size: 14px;
  line-height: 17px;
  position: absolute;
  right: -2px;
  top: 50%;
  transform: translateY(-50%);
}
.main-footer-bottom ul li:last-child {
  padding-left: 10px;
}
.main-footer-bottom ul li:first-child {
  padding-right: 10px;
}
.main-footer-bottom ul li a {
  color: #6C6C6A;
}
.main-footer-bottom ul li a:hover {
  color: #38BCEA;
}

/* Services Page */
.services-page .reviews {
  padding-bottom: 0;
}
.services-page .dropdown-container {
  padding: 100px 0 150px;
}
.services-main-screen {
  background: url(../img/services-page.jpg) no-repeat center right;
  padding: 35px 0 30px;
}
.services-main-screen .container {
  display: flex;
  justify-content: space-between;
}
.services-main-screen-text {
  width: 690px;
  padding-left: 75px;
  box-sizing: border-box;
}
.services-main-screen-text h1 {
  font-size: 50px;
  margin: 0;
  font-family: "Gotham Pro", "Raleway", sans-serif;
}
.services-main-screen-text p {
  font-size: 18px;
  line-height: 27px;
  color: #6C6C6A;
  margin: 10px 0 0;
  padding-right: 100px;
}
.services-main-screen-btn {
  display: flex;
  margin-top: 45px;
}
.services-main-screen-btn .btnLight {
  padding: 19px 45px;
  width: 295px;
  text-align: center;
}
.services-main-screen-btn .btnDark {
  padding: 16px 45px;
  color: #000000;
  width: 295px;
  border-color: #38BCEA;
  text-align: center;
  margin-left: 20px;
}
.services-main-screen-btn .btnDark:hover {
  border-color: #172B52;
}
.services-page-content {
  padding: 150px 0 50px;
}
.services-page-content h2 {
  font-family: "Gotham Pro", "Raleway", sans-serif;
  font-size: 40px;
  margin: 0;
  position: relative;
  padding-bottom: 12px;
}
.services-page-content h2:before {
  content: "";
  width: 97px;
  height: 7px;
  background: #38BCEA;
  position: absolute;
  left: 0;
  bottom: 0;
}
.services-page-content p {
  font-size: 18px;
  line-height: 24px;
  color: #6C6C6A;
  display: block;
  margin-top: 5px;
}
.services-page-content ul {
  margin: 0;
  padding: 35px 0 0;
}
.services-page-content ul li {
  list-style: none;
  padding-left: 60px;
  font-size: 18px;
  line-height: 24px;
  color: #6C6C6A;
  margin-top: 35px;
  position: relative;
  min-height: 50px;
}
.services-page-content ul li:before {
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  border: 3px solid #38BCEA;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 30px;
  font-family: "Gotham Pro", "Raleway", sans-serif;
}
.services-page-content ul li strong {
  font-family: "Gotham Pro", "Raleway", sans-serif;
}
.services-page-content ul li:first-child:before {
  content: "1";
}
.services-page-content ul li:nth-child(2):before {
  content: "2";
}
.services-page-content ul li:nth-child(3):before {
  content: "3";
}
.services-page-content ul li:nth-child(4):before {
  content: "4";
}
.services-page-content ul li:nth-child(5):before {
  content: "5";
}
.services-page-content ul li:nth-child(6):before {
  content: "6";
}

/* Drop Down */
.dropdown-container .heading {
  margin-bottom: 80px;
}
.dropdown-block {
  margin-top: 15px;
  padding-left: 110px;
}
.dropdown-block.active .dropdown-header {
  background: #38BCEA;
}
.dropdown-block.active .dropdown-header h3 {
  color: #ffffff;
}
.dropdown-block.active .dropdown-header:before {
  background: #C3EBF9;
}
.dropdown-block.active .dropdown-header:after {
  background: #ffffff url(../img/tab-arrow-active.png) no-repeat 8px 11px;
}
.dropdown-header {
  background: #C3EBF9;
  display: block;
  position: relative;
  padding: 20px 50px 20px 35px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
}
.dropdown-header h3 {
  margin: 0;
  font-size: 22px;
  font-family: "Gotham Pro", "Raleway", sans-serif;
}
.dropdown-header:before {
  content: "";
  width: 10px;
  height: 100%;
  background: #38BCEA;
  position: absolute;
  left: 0;
  top: 0;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.dropdown-header:after {
  content: "";
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  background: #ffffff url(../img/tab-arrow-right.png) no-repeat 11px 8px;
  border: 2px solid #38BCEA;
  border-radius: 50%;
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -15px;
}
.dropdown-body {
  margin-top: 15px;
  padding-left: 10px;
  display: none;
}
.dropdown-body h4 {
  margin: 15px 0 0;
  font-size: 18px;
  font-family: "Gotham Pro", "Raleway", sans-serif;
}
.dropdown-body ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.dropdown-body ul li {
  list-style: none;
  font-size: 16px;
  line-height: 18px;
  margin: 15px 0 0;
  display: flex;
  justify-content: space-between;
}
.dropdown-body ul li.stocks span:before {
  content: "Акция";
  background-color: #EA3938;
  border-radius: 5px;
  color: #ffffff;
  text-transform: uppercase;
  width: 62px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 100%;
  margin-left: 10px;
  bottom: 3px;
  z-index: 2;
  font-size: 10px;
  font-family: "Gotham Pro", "Raleway", sans-serif;
}
.dropdown-body ul li span {
  position: relative;
  display: inline-block;
}
.dropdown-body ul li span:after {
  content: "";
  width: 1000px;
  border-bottom: 1px dashed #CCCCCC;
  position: absolute;
  left: 100%;
  bottom: 3px;
  margin-left: 3px;
  z-index: 1;
}
.dropdown-body ul li strong {
  font-family: "Gotham Pro", "Raleway", sans-serif;
  background: #ffffff;
  position: relative;
  z-index: 2;
  padding-left: 3px;
}
.dropdown-body ul li strong em {
  font-family: "Raleway", "Gotham Pro", sans-serif;
  font-weight: 400;
  color: #58595B;
  text-decoration: line-through;
  font-style: normal;
  display: inline-block;
  margin-right: 5px;
}
.dropdown-row {
  border-bottom: 1px solid #EEEEEE;
  padding-bottom: 15px;
}

/* Price Page */
.price-page .reviews {
  padding-bottom: 150px;
}
.price-page .dropdown-container {
  padding-top: 20px;
}
.price-page .dropdown-container .heading {
  margin-bottom: 50px;
}
.price-page .dropdown-container .heading span, .price-page .dropdown-container .heading p {
  width: 60%;
}
.price-page-content {
  padding-top: 50px;
}
.price-page-content h2 {
  margin: 100px 0 0;
  font-family: "Gotham Pro", "Raleway", sans-serif;
  font-size: 30px;
  line-height: 36px;
  width: 70%;
}
.price-page-content p {
  font-size: 18px;
  line-height: 26px;
  margin: 5px 0 0;
  color: #6C6C6A;
  width: 60%;
}
.price-page-content ul {
  margin: 0;
  padding: 0;
}
.price-page-content ul li {
  list-style: none;
  color: #6C6C6A;
  font-size: 18px;
  line-height: 26px;
  margin-top: 20px;
  padding-left: 21px;
  position: relative;
}
.price-page-content ul li:before {
  content: "";
  width: 5px;
  height: 5px;
  background: #6C6C6A;
  border-radius: 50%;
  left: 8px;
  top: 10px;
  position: absolute;
}

/* Contact Page */
.contact-page .contact-form {
  padding-bottom: 0;
}
.contact-page-content {
  padding-bottom: 240px;
}
.contact-page-info {
  margin-top: 50px;
}
.contact-page-info h3 {
  font-size: 25px;
  line-height: 30px;
  font-family: "Gotham Pro", "Gotham Pro", sans-serif;
  color: #38BCEA;
  width: 455px;
  margin: 0;
}
.contact-page-info h3 span {
  color: #EA3938;
}
.contact-page-info p {
  font-size: 18px;
  line-height: 26px;
  color: #6C6C6A;
  margin: 10px 0 0;
  width: 70%;
}
.contact-page-container {
  display: flex;
  align-items: center;
  margin-top: 50px;
  justify-content: space-between;
}
.contact-page-data {
  flex-basis: calc(100% - 850px);
  padding-right: 50px;
  box-sizing: border-box;
}
.contact-page-data .address p {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
}
.contact-page-data .phone ul, .contact-page-data .mail ul {
  margin: 0;
  padding: 0;
}
.contact-page-data .phone ul li, .contact-page-data .mail ul li {
  list-style: none;
  font-size: 20px;
  line-height: 24px;
  color: #EA3938;
  position: relative;
  padding-left: 32px;
  margin-top: 10px;
}
.contact-page-data .phone ul li:before, .contact-page-data .mail ul li:before {
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.contact-page-data .phone ul li a, .contact-page-data .mail ul li a {
  color: #EA3938;
}
.contact-page-data .phone ul li a:hover, .contact-page-data .mail ul li a:hover {
  color: #38BCEA;
}
.contact-page-data .phone {
  padding-top: 10px;
}
.contact-page-data .phone ul li:before {
  background: url(../img/phone-active.png) no-repeat center center;
  margin-top: 4px;
}
.contact-page-data .mail ul li:before {
  background: url(../img/mail-active.png) no-repeat center center;
  margin-top: 2px;
}
.contact-page-data .work-time {
  margin-top: 40px;
}
.contact-page-data .work-time span {
  color: #999999;
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
}
.contact-page-data .work-time ul {
  margin: 0;
  padding: 0;
  position: relative;
}
.contact-page-data .work-time ul:before {
  content: "";
  height: calc(100% + 26px);
  border-left: 1px solid #FFCACB;
  position: absolute;
  left: 6px;
  top: -13px;
  z-index: 1;
}
.contact-page-data .work-time ul li {
  list-style: none;
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  padding-left: 30px;
  margin-top: 25px;
  position: relative;
}
.contact-page-data .work-time ul li:before {
  content: "";
  width: 11px;
  height: 11px;
  border: 1px solid #EA3938;
  box-sizing: border-box;
  border-radius: 50%;
  position: absolute;
  left: 1px;
  top: 8px;
  z-index: 2;
  background: #ffffff;
}
.contact-page-data .work-time ul li:last-child:before {
  border-color: #FFCACB;
}
.contact-page-map-container {
  width: 850px;
}

/* Single Page */
.single-page-content {
  padding: 50px 0 200px;
}
.single-page-content .heading p {
  margin: 5px 0 0;
}
.single-page-content p {
  font-size: 16px;
  line-height: 24px;
  margin: 30px 0 0;
}
.single-page-content a:not(.our-team a) {
  color: #38BCEA;
  border-bottom: 1px solid transparent;
}
.single-page-content a:not(.our-team a):hover {
  border-color: #38BCEA;
}
.single-page-content.nothing-page {
  padding: 100px 0 200px;
}
.single-page-content .our-team {
  padding-top: 100px;
}
.single-page-content .our-team-container {
  margin-top: 0;
}
.single-page-content .reviews {
  padding: 0;
}
.single-page-content .reviews-container {
  flex-wrap: wrap;
  justify-content: center;
}
.single-page-content .reviews-card {
  display: block !important;
  flex-basis: calc(33.33% - 20px);
}
.single-page-content .reviews-card p {
  font-size: 14px;
  line-height: 21px;
  margin: 10px 0 0;
}
.single-page-content .reviews-card-author p {
  margin: 0;
}
.single-page-content .about-us {
  padding-bottom: 0;
}

/* Popup Window */
.mfp-content .popup-window {
  display: block;
}

.popup-window {
  display: none;
  position: relative;
  width: 400px;
  margin: 50px auto;
  background: #38BCEA;
  padding: 30px 40px 40px;
  box-sizing: border-box;
  border-radius: 5px;
}
.popup-window .mfp-close {
  color: #ffffff;
}
.popup-window form .wpcf7-spinner {
  display: none !important;
}
.popup-window form .wpcf7-not-valid-tip {
  display: none;
}
.popup-window form .wpcf7-response-output {
  font-size: 15px;
  margin: 15px 0 0;
  border: none;
  padding: 0;
  font-family: "Raleway", "Gotham Pro", sans-serif;
  line-height: 24px;
  text-align: center;
}
.popup-window form p {
  margin: 0;
}
.popup-window form input:not([type=submit]) {
  width: 100%;
  height: 51px;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
  padding: 0 20px;
  color: #BBBBBB;
  background: #ffffff;
  border: 1px solid transparent;
  margin-top: 10px;
}
.popup-window form input:not([type=submit])::-moz-placeholder {
  opacity: 1;
}
.popup-window form input:not([type=submit])::-webkit-input-placeholder {
  opacity: 1;
}
.popup-window form input:not([type=submit]).wpcf7-not-valid {
  border-color: #EA3938;
}
.popup-window form input[type=submit] {
  width: 100%;
  text-align: center;
  padding: 15px 0;
  transition: all 0.2s linear;
  margin-top: 30px;
  font-size: 16px;
  background: transparent;
  border-color: #ffffff;
}
.popup-window form input[type=submit]:hover {
  border-color: #246CE2;
  cursor: pointer;
}
.popup-window form input[type=submit]:active {
  border-color: #0B2550;
  background: #0B2550;
}
.popup-window form textarea {
  width: 100%;
  height: 100px;
  resize: none;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
  padding: 10px 20px;
  color: #BBBBBB;
  background: #ffffff;
  border: 1px solid transparent;
  margin-top: 10px;
}
.popup-window form textarea::-moz-placeholder {
  opacity: 1;
  font-style: normal;
  font-family: "Raleway", "Gotham Pro", sans-serif;
}
.popup-window form textarea::-webkit-input-placeholder {
  opacity: 1;
  font-style: normal;
  font-family: "Raleway", "Gotham Pro", sans-serif;
}

@media (min-width: 1200px) and (max-width: 1360px) {
  .container {
    width: 1140px;
  }

  .reviews {
    padding: 100px 0;
  }
  .reviews-card-text-container {
    min-height: 280px;
  }

  .contact-page-content {
    padding-bottom: 100px;
  }

  .single-page-content {
    padding-bottom: 100px;
  }

  .top-header-contact-block:not(:last-child) {
    padding: 0 26px;
  }
  .top-header .logo img {
    width: 200px;
  }

  .about-us-slide-img {
    height: 315px;
  }

  .stocks-form .form-block-text {
    position: relative;
    z-index: 2;
  }
  .stocks-form .form-block-container {
    position: relative;
  }
  .stocks-form .form-block-container:after {
    content: "";
    width: 490px;
    height: 405px;
    position: absolute;
    background: url(../img/stocks-form.png);
    background-size: cover;
    right: 0;
    top: 60px;
    margin-top: 10px;
    z-index: 1;
  }

  .our-team-card {
    flex-basis: calc(33.33% - 12px);
  }
  .our-team-container {
    column-gap: 15px;
    row-gap: 15px;
  }

  .contact-form .form-block-container:after {
    background-size: cover;
    width: 460px;
    height: 445px;
    right: -25px;
  }

  .contact-page-map-container {
    width: 650px;
  }
  .contact-page-data {
    flex-basis: calc(100% - 650px);
  }

  .services-main-screen {
    background-size: 650px;
  }
}
@media (max-width: 1360px) {
  .stocks-banner-text {
    padding-left: 0;
  }
  .stocks-banner .advantages-card:not(:first-child) {
    padding-left: 50px;
  }
  .stocks-banner .advantages-card:first-child {
    padding-left: 0;
  }

  .stocks-form .form-block-container {
    background: transparent;
  }

  .services-main-screen-text {
    padding-left: 0;
  }
}
@media (min-width: 992px) and (max-width: 1360px) {
  .service-card:not(.last-card) {
    flex-basis: calc(50% - 30px);
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .container {
    width: 960px;
  }

  .single-page-content .reviews-card {
    flex-basis: calc(50% - 15px);
  }

  .stocks-banner .advantages-card {
    flex-basis: 25% !important;
    padding-left: 25px;
  }
  .stocks-banner .advantages-card span {
    font-size: 16px;
  }

  .service {
    padding: 75px 0 50px;
  }

  .about-us {
    padding: 50px 0 100px;
  }

  .form-block-container {
    padding: 80px 30px;
  }

  .our-team {
    padding: 80px 0 50px;
  }
  .our-team .heading {
    padding-left: 30px;
  }
  .our-team-card {
    flex-basis: calc(50% - 45px);
  }

  .reviews {
    padding: 40px 0 100px;
  }
  .reviews-card {
    flex-basis: 50%;
  }
  .reviews-card:last-child {
    display: none;
  }

  .main-footer {
    padding-top: 80px;
  }

  .contact-page-content {
    padding-bottom: 100px;
  }
  .contact-page-map-container {
    width: 600px;
  }
  .contact-page-data {
    flex-basis: calc(100% - 600px);
    padding-right: 40px;
  }

  .single-page-content {
    padding: 50px 0 100px;
  }

  .price-page-content h2 {
    margin: 50px 0 0;
  }
  .price-page .reviews {
    padding: 100px 0;
  }

  .services-page-content {
    padding: 75px 0 50px;
  }
  .services-page .dropdown-container {
    padding: 40px 0 100px;
  }
  .services-page .reviews {
    padding: 80px 0 40px;
  }
}
@media (max-width: 1200px) {
  .price-page .dropdown-container .heading p {
    width: 100%;
  }

  .top-header-container {
    flex-direction: column;
  }
  .top-header-contact {
    margin-top: 15px;
  }

  .about-us .heading span, .about-us .heading p {
    width: 100%;
  }
  .about-us-container {
    flex-direction: column;
  }
  .about-us-slider {
    width: 730px;
    margin-top: 50px;
  }
  .about-us-text {
    flex-basis: auto;
  }

  .form-block-text {
    width: 100%;
  }

  .reviews .heading span, .reviews .heading p {
    width: 100%;
  }

  .contact-form .form-block-container:after {
    display: none;
  }

  .contact-page-info h3 {
    width: 100%;
  }
  .contact-page-info p {
    width: 100%;
  }

  .price-page .dropdown-container .heading span, .price-page .dropdown-container p span {
    width: 100%;
  }
  .price-page-content h2, .price-page-content p {
    width: 100%;
  }

  .dropdown-block {
    padding-left: 0;
  }

  .services-main-screen {
    background: transparent;
  }
  .services-main-screen-text {
    width: 100%;
  }
  .services-page-content .heading span, .services-page-content p span {
    width: 100%;
  }

  .our-team .heading span, .our-team .heading p {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .our-team-container {
    justify-content: center;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .container {
    width: 720px;
  }

  .stocks-banner-text h2 {
    font-size: 42px;
  }
  .stocks-banner-text span {
    font-size: 16px;
  }

  .service {
    padding: 80px 0 50px;
  }

  .about-us {
    padding: 30px 0 80px;
  }

  .our-team {
    padding: 80px 0 50px;
  }
  .our-team-card {
    flex-basis: calc(50% - 17px);
  }

  .reviews {
    padding: 50px 0 80px;
  }

  .contact-page-content {
    padding-bottom: 80px;
  }

  .single-page-content {
    padding-bottom: 80px;
  }
  .single-page-content.nothing-page {
    padding: 100px 0;
  }

  .price-page-content {
    padding-top: 30px;
  }
  .price-page-content h2 {
    margin-top: 50px;
  }
  .price-page .reviews {
    padding: 80px 0;
  }

  .services-page-content {
    padding: 80px 0 50px;
  }
  .services-page .dropdown-container {
    padding: 30px 0 80px;
  }
  .services-page .reviews {
    padding-top: 80px;
  }
}
@media (min-width: 576px) and (max-width: 992px) {
  .main-footer {
    padding-top: 80px;
  }
  .main-footer-info {
    flex-basis: 100%;
    text-align: center;
  }
  .main-footer-social {
    justify-content: center;
  }
  .main-footer-menu, .main-footer-contact {
    flex-basis: 50%;
    text-align: center;
    margin-top: 30px;
  }
  .main-footer-contact ul li {
    display: inline-block;
  }
}
@media (max-width: 992px) {
  .single-page-content .reviews-card {
    flex-basis: 100%;
  }

  /* Top Header */
  .top-header {
    box-sizing: border-box;
  }
  .top-header-contact-block:not(:last-child) {
    padding: 0 26px;
  }
  .top-header-siteName.fix {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 101;
    border-bottom: 1px solid #172B52;
  }
  .top-header-siteName .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .top-header .mobile-btn {
    display: block;
    width: 30px;
    height: 30px;
    border: 2px solid #ffffff;
    border-radius: 5px;
    position: relative;
  }
  .top-header .mobile-btn:hover {
    cursor: pointer;
  }
  .top-header .mobile-btn.active span {
    margin-top: -1px;
  }
  .top-header .mobile-btn.active span:nth-child(2) {
    display: none;
  }
  .top-header .mobile-btn.active span:first-child {
    top: 50%;
    transform: rotate(-45deg);
  }
  .top-header .mobile-btn.active span:last-child {
    top: 50%;
    transform: rotate(45deg);
  }
  .top-header .mobile-btn span {
    width: 20px;
    height: 2px;
    background: #ffffff;
    position: absolute;
    left: 5px;
    transition: all 0.2s linear;
  }
  .top-header .mobile-btn span:first-child {
    top: 6px;
  }
  .top-header .mobile-btn span:nth-child(2) {
    top: 14px;
  }
  .top-header .mobile-btn span:last-child {
    top: 22px;
  }
  .top-header-contact {
    flex-wrap: wrap;
    justify-content: center;
  }
  .top-header-contact-block {
    margin-top: 15px;
  }
  .top-header-contact-block p {
    font-size: 14px;
  }
  .top-header-contact-block ul li {
    font-size: 16px;
  }

  /* Top Nav */
  .top-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #38BCEA;
    padding: 0;
    z-index: 100;
    transform: translateX(-100%);
    transition: all 0.2s ease-in-out;
  }
  .top-nav.active {
    transform: translateX(0);
  }
  .top-nav ul {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    overflow-y: auto;
    padding: 0 0 50px;
    box-sizing: border-box;
  }
  .top-nav ul li {
    padding: 15px 0;
    text-align: center;
    width: auto;
  }
  .top-nav ul li:first-child {
    padding-top: 65px;
  }
  .top-nav ul li a {
    color: #ffffff;
  }
  .top-nav ul li a:hover {
    color: #172B52;
  }
  .top-nav ul li.menu-item-has-children:hover .sub-menu {
    display: none !important;
  }
  .top-nav ul li.menu-item-has-children:hover .active-sub {
    display: block !important;
  }
  .top-nav ul li.menu-item-has-children .sub-menu {
    display: none !important;
  }
  .top-nav ul li.menu-item-has-children .active-sub {
    display: block !important;
  }
  .top-nav ul li.menu-item-has-children a:hover:after {
    transform: none;
  }
  .top-nav ul li.menu-item-has-children a {
    padding: 0;
  }
  .top-nav ul li.menu-item-has-children a:after {
    right: -20px;
  }
  .top-nav ul li.menu-item-has-children .sub-menu {
    position: static;
    transform: none;
    padding: 0;
    background: transparent;
    box-shadow: none;
    width: 100%;
    border: none;
    height: auto;
    margin-top: 10px;
  }
  .top-nav ul li.menu-item-has-children .sub-menu .sub-menu .sub-menu a:before {
    display: none;
  }
  .top-nav ul li.menu-item-has-children .sub-menu li {
    padding: 0;
  }
  .top-nav ul li.menu-item-has-children .sub-menu li a {
    padding: 10px 25px;
    color: #ffffff;
  }
  .top-nav ul li.menu-item-has-children .sub-menu li a:hover {
    background: #172B52;
  }
  .top-nav ul li.menu-item-has-children .sub-menu li a:before {
    transform: rotate(90deg);
  }

  .stocks-banner .advantages {
    display: none;
  }

  .service-card {
    flex-basis: 100% !important;
  }
  .service-slogan {
    flex-basis: 100%;
  }

  .stocks-form .form-block-container {
    padding: 80px 0;
  }

  .reviews-container {
    flex-wrap: wrap;
  }
  .reviews-card {
    flex-basis: 100%;
  }

  .contact-form .form-block-container {
    padding: 80px 0;
  }

  .main-footer-top .container {
    flex-wrap: wrap;
    justify-content: center;
  }
  .main-footer-bottom .container {
    flex-direction: column-reverse;
    align-items: center;
  }
  .main-footer .copy {
    margin-top: 15px;
  }

  .breadcrumbs {
    padding-top: 30px;
  }

  .contact-page-container {
    flex-direction: column;
    align-items: flex-start;
  }
  .contact-page-data {
    flex-basis: 100%;
    padding-right: 0;
  }
  .contact-page-map {
    width: 100%;
    margin-top: 50px;
  }
  .contact-page-map-container {
    width: 100%;
  }

  .single-page-content, .price-page .dropdown-container {
    padding-top: 0;
  }

  .dropdown-body ul {
    overflow: visible;
  }
  .dropdown-body ul li {
    flex-direction: column;
  }
  .dropdown-body ul li:not(:last-child) {
    border-bottom: 1px solid #EEEEEE;
    padding-bottom: 15px;
  }
  .dropdown-body ul li span {
    width: calc(100% - 80px);
  }
  .dropdown-body ul li span:after {
    display: none;
  }
  .dropdown-body ul li strong {
    margin-top: 5px;
  }
  .dropdown-body ul li.stocks span:before {
    z-index: 3;
    top: -2px;
    bottom: auto;
  }

  .reviews-card-text-container {
    min-height: auto;
    padding: 40px 30px;
  }
}
@media (min-width: 576px) and (max-width: 992px) {
  .btnLight, .btnDark {
    font-size: 16px;
    padding: 15px 30px;
  }

  .stocks-banner {
    padding-top: 30px;
  }

  .form-block-text input:not([type=submit]) {
    height: 50px;
    font-size: 18px;
  }
  .form-block-text input[type=submit] {
    font-size: 18px;
    height: 50px;
    padding: 0;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .container {
    width: 540px;
  }

  .service {
    padding: 80px 0 50px;
  }

  .about-us {
    padding: 30px 0 50px;
  }

  .form-block-text input[type=submit] {
    width: 240px;
  }
  .form-block-text input:not([type=submit]) {
    width: 240px;
  }

  .our-team {
    padding: 80px 0 50px;
  }

  .reviews {
    padding: 30px 0 80px;
  }

  .contact-form.form-block-text h2 {
    font-size: 34px;
  }

  .single-page-content {
    padding-bottom: 80px;
  }
  .single-page-content.nothing-page {
    padding: 100px 0;
  }

  .contact-page-map {
    height: 300px;
  }
  .contact-page-content {
    padding-bottom: 80px;
  }

  .price-page-content {
    padding-top: 30px;
  }
  .price-page-content h2 {
    margin-top: 50px;
  }
  .price-page .reviews {
    padding: 80px 0;
  }

  .services-main-screen-btn .btnLight {
    padding: 19px 30px;
  }
  .services-page-content {
    padding: 50px 0;
  }
  .services-page .dropdown-container {
    padding: 30px 0 80px;
  }
  .services-page .reviews {
    padding-top: 80px;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .our-team-card {
    flex-basis: 410px;
  }
}
@media (max-width: 768px) {
  .stocks-banner-img {
    display: none;
  }
  .stocks-banner-text {
    flex-basis: 100%;
  }

  .about-us-slider {
    width: 100%;
    padding: 0 0 30px;
  }
  .about-us-slide-img {
    background: transparent !important;
    height: auto;
  }
  .about-us-slide-img img {
    display: block;
  }

  .contact-page-map {
    position: relative;
    overflow: hidden;
  }
  .contact-page-map-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .dropdown-body ul li {
    display: block;
  }
  .dropdown-body ul li span {
    width: 100%;
  }
  .dropdown-body ul li strong {
    line-height: 24px;
  }
  .dropdown-body ul li.stocks span:before {
    display: none;
  }
  .dropdown-body ul li.stocks strong {
    display: inline-block;
  }
  .dropdown-body ul li.stocks strong:after {
    content: "Акция";
    background-color: #EA3938;
    border-radius: 5px;
    color: #ffffff;
    text-transform: uppercase;
    width: 62px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 100%;
    margin-left: 10px;
    top: 0;
    z-index: 2;
    font-size: 10px;
    font-family: "Gotham Pro", "Raleway", sans-serif;
  }

  .our-team-container {
    justify-content: center;
  }

  .services-main-screen-text p {
    padding-right: 0;
  }
}
@media (min-width: 480px) and (max-width: 576px) {
  .stocks-banner-text h2 {
    font-size: 42px;
  }
  .stocks-banner-text span {
    font-size: 16px;
  }

  .service {
    padding: 70px 0 50px;
  }
  .service-card h3 {
    font-size: 20px;
  }

  .about-us {
    padding: 20px 0 70px;
  }
  .about-us-text p {
    font-size: 16px;
    line-height: 24px;
  }

  .form-block-text h2 {
    font-size: 32px;
  }
  .form-block-text h2 span {
    font-size: 32px;
    display: inline;
  }
  .form-block-text p {
    font-size: 16px;
    line-height: 24px;
  }
  .form-block-text span {
    font-size: 13px;
  }

  .our-team {
    padding: 70px 0 50px;
  }

  .reviews {
    padding: 20px 0 70px;
  }

  .main-footer {
    padding-top: 70px;
  }

  .single-page-content {
    padding-bottom: 70px;
  }
  .single-page-content.nothing-page {
    padding: 80px 0;
  }

  .contact-page-info h3 {
    font-size: 20px;
    line-height: 26px;
  }
  .contact-page-info p {
    font-size: 16px;
    line-height: 24px;
  }
  .contact-page-data .address p {
    font-size: 20px;
    line-height: 26px;
  }
  .contact-page-data .phone ul li, .contact-page-data .mail ul li {
    font-size: 16px;
    line-height: 30px;
  }
  .contact-page-data .work-time span {
    font-size: 16px;
  }
  .contact-page-data .work-time ul li {
    font-size: 16px;
  }
  .contact-page-content {
    padding-bottom: 70px;
  }
  .contact-page-map {
    height: 250px;
  }

  .contact-form .form-block-container {
    padding: 70px 0;
  }

  .dropdown-header h3 {
    font-size: 20px;
  }
  .dropdown-body h4 {
    font-size: 14px;
  }
  .dropdown-body ul li {
    font-size: 14px;
  }

  .price-page-content {
    padding-top: 20px;
  }
  .price-page-content h2 {
    margin-top: 50px;
    font-size: 24px;
    line-height: 30px;
  }
  .price-page-content p {
    font-size: 16px;
    line-height: 24px;
  }
  .price-page-content ul li {
    font-size: 16px;
    line-height: 24px;
  }
  .price-page .reviews {
    padding: 50px 0 70px;
  }

  .stocks-form .form-block-container {
    padding: 70px 0;
  }

  .services-page-content {
    padding: 40px 0 20px;
  }
  .services-page-content ul li {
    font-size: 16px;
    padding-left: 50px;
  }
  .services-page-content ul li:before {
    width: 40px;
    height: 40px;
    font-size: 24px;
  }
  .services-page .dropdown-container {
    padding: 50px 0 70px;
  }
  .services-page .reviews {
    padding-top: 70px;
  }
  .services-main-screen-text h1 {
    font-size: 40px;
  }
  .services-main-screen-text p {
    font-size: 16px;
    line-height: 24px;
  }
  .services-main-screen-btn .btnDark {
    padding: 11px 30px;
  }
  .services-main-screen-btn .btnLight {
    padding: 15px 20px;
  }
}
@media (max-width: 576px) {
  .container {
    width: 100%;
  }

  .about-us-text h3 {
    font-size: 20px;
  }

  .stocks-banner {
    padding-top: 30px;
  }

  .btnLight {
    font-size: 16px;
    padding: 15px 30px;
  }

  .btnDark {
    font-size: 16px;
    padding: 15px 30px;
  }

  .heading span, .heading p {
    font-size: 16px;
  }
  .heading h2 {
    font-size: 32px;
    padding-bottom: 8px;
  }
  .heading h2:before {
    height: 5px;
  }

  .form-block-text span {
    width: 100%;
  }
  .form-block-text input[type=submit] {
    margin-left: 0;
    width: 100%;
    font-size: 16px;
    padding: 14px 0;
  }
  .form-block-text input:not([type=submit]) {
    width: 100%;
    height: 50px;
    font-size: 16px;
  }

  .main-footer-info {
    flex-basis: 100%;
    text-align: center;
  }
  .main-footer-social {
    justify-content: center;
  }
  .main-footer-menu {
    display: none;
  }
  .main-footer-contact {
    flex-basis: 100%;
    text-align: center;
    margin-top: 30px;
  }
  .main-footer-contact li {
    display: inline-block;
  }
  .main-footer-bottom {
    flex-direction: column-reverse;
  }
  .main-footer-bottom .copy {
    text-align: center;
  }
}
@media (max-width: 480px) {
  .mfp-container {
    padding: 0 15px;
  }

  .popup-window {
    width: 100%;
    max-width: 350px;
  }
  .popup-window form {
    text-align: center;
  }
  .popup-window form input:not([type=submit]) {
    height: 40px;
    font-size: 15px;
    padding: 0 15px;
  }
  .popup-window form input[type=submit] {
    padding: 10px 0;
  }
  .popup-window form textarea {
    font-size: 15px;
    padding: 10px 15px;
  }

  .top-header-siteName span {
    font-size: 14px;
    display: inline-block;
    width: calc(100% - 46px);
  }

  .stocks-banner-text h2 {
    font-size: 32px;
  }
  .stocks-banner-text span {
    font-size: 16px;
  }

  .service {
    padding: 50px 0 20px;
  }
  .service-card {
    background: rgba(103, 205, 253, 0.05) !important;
  }
  .service-card-text {
    width: 100%;
    padding: 40px 30px;
  }
  .service-card h3 {
    font-size: 20px;
    line-height: 24px;
  }
  .service-card p {
    font-size: 16px;
    margin: 10px 0;
  }
  .service-slogan h3 {
    font-size: 20px;
  }
  .service-slogan p {
    font-size: 14px;
    line-height: 18px;
  }

  .about-us {
    padding: 30px 0 50px;
  }
  .about-us-text p {
    font-size: 15px;
    line-height: 20px;
  }
  .about-us-chief {
    flex-direction: column;
  }
  .about-us-chief-info {
    margin-top: 15px;
    padding-left: 0;
    text-align: center;
  }

  .form-block-container {
    padding: 50px 0 !important;
  }
  .form-block-text h2 {
    font-size: 26px;
    line-height: 34px;
  }
  .form-block-text h2 span {
    font-size: 26px;
    display: inline;
  }
  .form-block-text p {
    font-size: 16px;
    line-height: 24px;
  }
  .form-block-text span {
    font-size: 13px;
  }

  .our-team {
    padding: 50px 0 20px;
  }
  .our-team-card {
    flex-basis: 100%;
  }
  .our-team-card h3 {
    font-size: 16px;
  }
  .our-team-card .specialize, .our-team-card .employee {
    font-size: 14px;
  }

  .reviews {
    padding: 30px 0 50px;
  }
  .reviews-card-text h3 {
    font-size: 20px;
  }

  .contact-form.form-block-text h2 {
    font-size: 20px;
  }

  .main-footer {
    padding-top: 50px;
  }
  .main-footer-bottom ul {
    flex-direction: column;
  }
  .main-footer-bottom ul li {
    padding: 0 !important;
    text-align: center;
    line-height: 18px;
  }
  .main-footer-bottom ul li:after {
    display: none;
  }

  .single-page-content {
    padding: 0 0 50px;
  }
  .single-page-content.nothing-page {
    padding: 70px 0;
  }

  .contact-page-info h3 {
    font-size: 20px;
  }
  .contact-page-info p {
    font-size: 14px;
    line-height: 20px;
  }
  .contact-page-data .address p {
    font-size: 18px;
  }
  .contact-page-data .phone ul li, .contact-page-data .mail ul li {
    font-size: 16px;
    line-height: 30px;
  }
  .contact-page-data .work-time span {
    font-size: 18px;
  }
  .contact-page-data .work-time ul li {
    font-size: 16px;
  }
  .contact-page-map {
    height: 300px;
  }
  .contact-page-content {
    padding-bottom: 50px;
  }

  .dropdown-container .heading {
    margin-bottom: 40px;
  }
  .dropdown-header h3 {
    font-size: 18px;
  }
  .dropdown-body h4 {
    font-size: 16px;
  }
  .dropdown-body ul li {
    font-size: 14px;
  }

  .price-page-content {
    padding-top: 20px;
  }
  .price-page-content h2 {
    margin-top: 30px;
    font-size: 20px;
    line-height: 28px;
  }
  .price-page-content p {
    font-size: 14px;
    line-height: 20px;
  }
  .price-page-content ul li {
    font-size: 14px;
    margin-top: 10px;
  }
  .price-page .reviews {
    padding: 50px 0;
  }

  .services-page-content {
    padding: 20px 0 30px;
  }
  .services-page-content ul li {
    font-size: 14px;
    padding-left: 40px;
  }
  .services-page-content ul li:before {
    font-size: 18px;
    width: 30px;
    height: 30px;
    top: 5px;
  }
  .services-page .dropdown-container {
    padding: 20px 0 50px;
  }
  .services-main-screen-text h1 {
    font-size: 24px;
  }
  .services-main-screen-text p {
    font-size: 14px;
    line-height: 20px;
  }
  .services-main-screen-btn {
    flex-direction: column;
  }
  .services-main-screen-btn a {
    width: 100% !important;
  }
  .services-main-screen-btn a.btnDark {
    margin-left: 0;
    margin-top: 15px;
  }
}

/*# sourceMappingURL=style.css.map */
