$hover : #C3EBF9
$normal : #38BCEA
$active : #172B52
$inactive : #CCCCCC
$mFont : 'Raleway'
$hFont : 'Gotham Pro'

body
  font-family: $mFont, $hFont, sans-serif

.container
  width: 1320px
  padding: 0 15px
  box-sizing: border-box
  margin: 0 auto

.btn
  background: $normal
  display: inline-block
  font-size: 20px
  line-height: 23px
  color: #ffffff
  font-weight: 500
  padding: 20px 45px
  box-sizing: border-box