@import "../fonts/fonts.css";
body {
  margin: 0;
  padding: 0;
  line-height: 1;
}

a {
  text-decoration: none;
  color: #000;
  transition: all 0.2s ease-in-out;
}

input:focus, textarea:focus {
  outline: none;
}

body {
  font-family: "Raleway", "Gotham Pro", sans-serif;
}

.container {
  width: 1320px;
  padding: 0 15px;
  box-sizing: border-box;
  margin: 0 auto;
}

.btnLight {
  background: #38BCEA;
  display: inline-block;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
  font-weight: 500;
  padding: 20px 45px;
  box-sizing: border-box;
  border-radius: 4px;
}
.btnLight:hover {
  background: #C3EBF9;
  color: #172B52;
}
.btnLight:active {
  background: #172B52;
  color: #ffffff;
}

.btnDark {
  border: 4px solid #15499F;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
  font-weight: 500;
  padding: 20px 45px;
  box-sizing: border-box;
  border-radius: 4px;
}
.btnDark:hover {
  border-color: #246CE2;
}
.btnDark:active {
  border: #0B2550;
  background: #0B2550;
}

.heading h2 {
  font-family: "Gotham Pro", "Raleway", sans-serif;
  font-size: 40px;
  margin: 0;
  position: relative;
  padding-bottom: 12px;
}
.heading h2:before {
  content: "";
  width: 97px;
  height: 7px;
  background: #38BCEA;
  position: absolute;
  left: 0;
  bottom: 0;
}
.heading span {
  font-size: 18px;
  line-height: 24px;
  color: #6C6C6A;
  display: block;
  margin-top: 5px;
}

.slick-dots {
  bottom: 0;
  left: 0;
}
.slick-dots li {
  margin: 0 5px;
  list-style: none;
  width: auto;
  height: auto;
}
.slick-dots li.slick-active button {
  border: 2px solid #38BCEA;
}
.slick-dots li.slick-active button:after {
  content: "";
  width: 6px;
  height: 6px;
  background: #1E6680;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -3px 0 0 -3px;
  border-radius: 50%;
}
.slick-dots li button {
  width: 14px;
  height: 14px;
  background: #C3EBF9;
  padding: 0;
  border-radius: 50%;
}
.slick-dots li button:before {
  display: none;
}

.slick-next, .slick-prev {
  width: 50px;
  height: 50px;
}
.slick-next:before, .slick-prev:before {
  display: none;
}
.slick-next:after, .slick-prev:after {
  content: "";
  width: 50px;
  height: 50px;
  background: #C3EBF9 url(../img/slider-active-arrow.png) no-repeat center center;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
}
.slick-next.slick-disabled:after, .slick-prev.slick-disabled:after {
  background: #C3EBF9 url(../img/slider-disabled-arrow.png) no-repeat center center;
}

.slick-prev {
  left: -10px;
}
.slick-prev.slick-disabled:after {
  transform: rotate(0);
}
.slick-prev:after {
  transform: rotate(180deg);
}

.slick-next {
  right: -10px;
}
.slick-next.slick-disabled:after {
  transform: rotate(180deg);
}

/* Header Styles */
.top-header-siteName {
  background: #38BCEA;
  text-align: center;
  padding: 12px 0;
}
.top-header-siteName span {
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
}
.top-header-container {
  border-bottom: 1px solid #EEEEEE;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0 20px;
}
.top-header-contact {
  display: flex;
}
.top-header-contact .btnLight {
  font-size: 15px;
  line-height: 18px;
  padding: 11px 35px 12px 35px;
}
.top-header-contact-block {
  display: flex;
  align-items: center;
  position: relative;
}
.top-header-contact-block:not(:last-child) {
  padding: 0 40px 0 26px;
}
.top-header-contact-block p {
  font-size: 16px;
  line-height: 19px;
  margin: 0;
  color: #172B52;
}
.top-header-contact-block p i {
  color: #999999;
  font-style: normal;
}
.top-header-contact-block ul {
  padding: 0;
  margin: 0;
}
.top-header-contact-block ul li {
  list-style: none;
  font-size: 18px;
  line-height: 18px;
}
.top-header-contact-block:before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.top-header-contact-block.telephone:before {
  width: 12px;
  height: 12px;
  left: 4px;
  margin-top: 2px;
  background: url(../img/phone.png) no-repeat center center;
}
.top-header-contact-block.work-time:before {
  width: 18px;
  height: 20px;
  left: 0;
  background: url(../img/calendar.png) no-repeat center center;
}
.top-header-contact-block.address:before {
  width: 14px;
  height: 18px;
  left: 4px;
  background: url(../img/map.png) no-repeat center center;
}

/* Top Nav */
.top-nav {
  padding: 23px 0 28px;
}
.top-nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
.top-nav ul li {
  list-style: none;
  font-size: 16px;
  line-height: 19px;
  margin: 0 25px;
}
.top-nav ul li.menu-item-has-child a {
  color: #EA3938;
  position: relative;
  display: inline-block;
  padding-right: 25px;
}
.top-nav ul li.menu-item-has-child a:after {
  content: "";
  width: 14px;
  height: 8px;
  background: url(../img/menu-arrow-down.png) no-repeat center center;
  position: absolute;
  right: 5px;
  top: 50%;
  margin-top: -4px;
}

/* Stock Banner */
.stocks-banner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.stocks-banner-text {
  padding-left: 120px;
  box-sizing: border-box;
  flex-basis: 580px;
}
.stocks-banner-text span {
  font-size: 18px;
  line-height: 21px;
  color: #6C6C6A;
  display: block;
}
.stocks-banner-text h2 {
  font-size: 50px;
  color: #172B52;
  font-family: "Gotham Pro", "Raleway", sans-serif;
  margin: 10px 0;
}
.stocks-banner-text .btnLight {
  margin-top: 50px;
}
.stocks-banner-img {
  flex-basis: 680px;
}
.stocks-banner .advantages {
  padding: 35px 0;
}
.stocks-banner .advantages-container {
  display: flex;
}
.stocks-banner .advantages-card {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.stocks-banner .advantages-card-img {
  flex-basis: 47px;
  text-align: right;
}
.stocks-banner .advantages-card-text {
  padding-left: 10px;
}
.stocks-banner .advantages-card span {
  font-size: 18px;
  line-height: 21px;
  color: #6C6C6A;
}
.stocks-banner .advantages-card:first-child {
  flex-basis: 390px;
  padding-left: 70px;
}
.stocks-banner .advantages-card:not(:first-child) {
  flex-basis: 300px;
  padding-left: 100px;
}

.service {
  padding: 115px 0 50px;
}
.service-container {
  display: flex;
  flex-wrap: wrap;
  margin: 20px -15px 0;
  align-items: center;
}
.service-card {
  margin: 30px 15px 0;
  border-radius: 20px;
  border: 1px solid #C3EBF9;
  box-sizing: border-box;
}
.service-card-text {
  width: 60%;
  padding: 40px 0 20px 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.service-card h3 {
  font-size: 24px;
  line-height: 29px;
  color: #172B52;
  font-weight: 500;
  margin: 0;
}
.service-card p {
  font-size: 18px;
  line-height: 24px;
  margin: 10px 0 50px;
  color: #6C6C6A;
}
.service-card a {
  font-size: 18px;
  line-height: 21px;
  color: #38BCEA;
  position: relative;
  display: inline-block;
  padding-right: 28px;
}
.service-card a:after {
  content: "";
  width: 18px;
  height: 10px;
  background: url(../img/link-arrow-right.png) no-repeat center center;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -5px;
}
.service-card:not(.last-card) {
  flex-basis: calc(33.33% - 30px);
}
.service-card.last-card {
  flex-basis: calc(50% - 30px);
}
.service-slogan {
  flex-basis: calc(50% - 30px);
  margin: 30px 15px 0;
}
.service-slogan h3 {
  font-size: 24px;
  line-height: 29px;
  color: #172B52;
  font-weight: 500;
  margin: 0;
}
.service-slogan p {
  font-size: 18px;
  line-height: 25px;
  color: #6C6C6A;
  margin: 15px 0 0;
}

/* About Us */
.about-us {
  padding: 100px 0 150px;
}
.about-us .heading span {
  width: 60%;
}
.about-us-container {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  align-items: center;
}
.about-us-text {
  flex-basis: 500px;
}
.about-us-text h3 {
  color: #6C6C6A;
  font-size: 24px;
  margin: 0;
  font-family: "Gotham Pro", "Raleway", sans-serif;
}
.about-us-text p {
  font-size: 18px;
  line-height: 27px;
  color: #6C6C6A;
  margin: 10px 0 0;
}
.about-us-chief {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.about-us-chief-img {
  flex-basis: 140px;
  height: 140px;
  border: 14px solid #C3EBF9;
  box-sizing: border-box;
  border-radius: 50%;
}
.about-us-chief-info {
  flex-basis: calc(100% - 140px);
  padding-left: 10px;
  box-sizing: border-box;
}
.about-us-chief-info h4 {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  color: #172B52;
  margin: 0 0 5px;
}
.about-us-chief-info ul {
  margin: 0;
  padding: 0;
}
.about-us-chief-info ul li {
  list-style: none;
  font-size: 12px;
  line-height: 16px;
  margin: 0 0 3px;
}
.about-us-chief-info ul li strong {
  color: #6C6C6A;
  font-weight: 400;
}
.about-us-slider {
  width: calc(100% - 550px);
  padding: 0 55px 30px;
  box-sizing: border-box;
}
.about-us-slide-img {
  width: 100%;
  height: 450px;
}

/* Form Block */
.form-block {
  background: linear-gradient(84.27deg, #E6F2FF 0%, #FAF1ED 100%);
}
.form-block-container {
  padding: 80px;
}
.form-block form {
  width: 580px;
}
.form-block form h2 {
  font-family: "Gotham Pro", "Raleway", sans-serif;
  font-size: 40px;
  line-height: 48px;
  margin: 0;
}
.form-block form h2 span {
  color: #EA3938;
  font-size: 40px;
}
.form-block form p {
  font-size: 20px;
  line-height: 28px;
  margin: 20px 0 0;
  color: #172B52;
}
.form-block form p a {
  color: #38BCEA;
}
.form-block form input:not([type=submit]) {
  width: 255px;
  height: 71px;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 24px;
  padding: 0 20px;
  color: #BBBBBB;
  border: none;
}
.form-block form input:not([type=submit])::-moz-placeholder {
  opacity: 1;
}
.form-block form input:not([type=submit])::-webkit-input-placeholder {
  opacity: 1;
}
.form-block form input[type=submit] {
  width: 295px;
  text-align: center;
  border: none;
  padding: 24px 0;
  transition: all 0.2s linear;
  margin-left: 20px;
}
.form-block form input[type=submit]:hover {
  cursor: pointer;
}
.form-block form span {
  font-size: 15px;
  line-height: 21px;
  color: #6C6C6A;
  display: inline-block;
  margin-top: 10px;
}
.form-block form span a {
  border-bottom: 1px solid #6C6C6A;
}

/* Stocks Form */
.stocks-form .form-block-container {
  background: url(../img/stocks-form.png) no-repeat right bottom;
}

/* Our Team */
.our-team {
  padding: 150px 0 50px;
}
.our-team .heading span {
  width: 40%;
}
.our-team-container {
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
  column-gap: 30px;
  margin-top: 50px;
}
.our-team-card {
  flex-basis: calc(33.33% - 22px);
  border: 1px solid #C3EBF9;
}
.our-team-card-container {
  padding: 40px 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.our-team-card h3 {
  color: #172B52;
  margin: 20px 0 0;
  font-size: 19px;
  line-height: 29px;
  font-weight: 500;
}
.our-team-card .specialize, .our-team-card .employee {
  color: #EA3938;
  font-size: 16px;
  line-height: 21px;
  padding-left: 23px;
  position: relative;
  margin: 5px 0;
}
.our-team-card .specialize:before {
  content: "";
  height: 19px;
  width: 18px;
  background: url(../img/our-team-icon.png) no-repeat center center;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -9px;
}
.our-team-card .employee:before {
  content: "";
  height: 19px;
  width: 12px;
  background: url(../img/our-team-employee.png) no-repeat center center;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -9px;
}
.our-team-card p {
  font-size: 14px;
  line-height: 19px;
  color: #443E3E;
  margin: 10px 0 0;
}
.our-team-card ul {
  margin: 10px 0 0;
  padding: 0;
}
.our-team-card ul li {
  list-style: none;
  font-size: 14px;
  line-height: 21px;
  color: #6C6C6A;
}
.our-team-card .request {
  margin-top: 20px;
}
.our-team-card .request a {
  width: 100%;
  text-align: center;
}
.our-team-img img {
  max-width: 100%;
}

/* Reviews */
.reviews {
  padding: 100px 0 240px;
}
.reviews .heading span {
  width: 50%;
}
.reviews-container {
  display: flex;
  column-gap: 30px;
}
.reviews-card {
  flex-basis: 33.33%;
  margin-top: 50px;
}
.reviews-card-text {
  border: 1px solid #C3EBF9;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  position: relative;
}
.reviews-card-text-container {
  position: relative;
  padding: 40px 30px 30px;
  z-index: 2;
  min-height: 232px;
  background: #ffffff;
}
.reviews-card-text:before {
  content: "";
  width: 24px;
  height: 24px;
  z-index: 1;
  left: 50%;
  top: 100%;
  background: #ffffff;
  transform: translateX(-27px) rotate(45deg) translateY(-20px);
  border: 1px solid #C3EBF9;
  position: absolute;
}
.reviews-card-text h3 {
  font-size: 23px;
  line-height: 27px;
  margin: 0;
  text-align: center;
  font-weight: 500;
}
.reviews-card-text p {
  font-size: 14px;
  line-height: 21px;
  margin: 10px 0 0;
  text-align: center;
}
.reviews-card-img {
  border-radius: 50%;
  width: 56px;
  height: 56px;
  margin: 25px auto 0;
}
.reviews-card-author {
  text-align: center;
}
.reviews-card-author p {
  font-size: 19px;
  line-height: 29px;
  font-weight: 500;
  margin: 8px 0 0;
}
.reviews-card-author span {
  font-size: 14px;
  line-height: 21px;
}

/* Contact Form */
.contact-form .form-block-container {
  position: relative;
}
.contact-form .form-block-container:after {
  content: "";
  width: 643px;
  height: 617px;
  background: url(../img/contact-form.png) no-repeat center center;
  right: 0;
  bottom: 0;
  position: absolute;
}

/* Main Footer */
.main-footer {
  padding-top: 150px;
}
.main-footer .container {
  display: flex;
  justify-content: space-between;
}
.main-footer-info {
  flex-basis: 265px;
}
.main-footer-info p {
  font-size: 14px;
  line-height: 19px;
  color: #172B52;
  margin: 25px 0 0;
}
.main-footer-social {
  display: flex;
  margin: 25px 0 0;
  padding: 0;
}
.main-footer-social li {
  list-style: none;
}
.main-footer-social li:not(:last-child) {
  margin-right: 15px;
}
.main-footer-social li a {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #C3EBF9;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-footer-heading span {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  display: block;
}
.main-footer-menu ul {
  margin: 0;
  padding: 0;
}
.main-footer-menu ul li {
  font-size: 16px;
  margin: 20px 0 0;
  list-style: none;
}
.main-footer-menu ul li a {
  color: #6C6C6A;
}
.main-footer-contact ul {
  margin: 0;
  padding: 0;
}
.main-footer-contact ul li {
  list-style: none;
  margin: 30px 0 0;
  font-size: 14px;
  padding-left: 36px;
  position: relative;
}
.main-footer-contact ul li:first-child:before {
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -12px;
}
.main-footer-mail ul li:first-child:before {
  background: url(../img/mail.png) no-repeat center center;
}
.main-footer-phone ul li:first-child:before {
  background: url(../img/phone.png) no-repeat center center;
}
.main-footer-map ul li:first-child:before {
  background: url(../img/map.png) no-repeat center center;
}
.main-footer-bottom {
  padding: 50px 0 30px;
}
.main-footer-bottom p {
  font-size: 14px;
  line-height: 17px;
  margin: 0;
  color: #6C6C6A;
}
.main-footer-bottom ul {
  margin: 0;
  padding: 0;
  display: flex;
}
.main-footer-bottom ul li {
  list-style: none;
}
.main-footer-bottom ul li:not(:last-child) {
  padding: 0 10px;
  position: relative;
}
.main-footer-bottom ul li:not(:last-child):after {
  content: "|";
  color: #6C6C6A;
  font-size: 14px;
  line-height: 17px;
  position: absolute;
  right: -2px;
  top: 50%;
  transform: translateY(-50%);
}
.main-footer-bottom ul li:last-child {
  padding-left: 10px;
}
.main-footer-bottom ul li a {
  color: #6C6C6A;
}

/*# sourceMappingURL=style.css.map */
