@import "reset.sass"
@import "../fonts/fonts.css"
@import "sittings.sass"

/* Header Styles */
.top-header
  &-siteName
    background: $normal
    text-align: center
    padding: 12px 0
    span
      font-weight: 500
      font-size: 16px
      color: #ffffff
  &-container
    border-bottom: 1px solid #EEEEEE
    display: flex
    justify-content: space-between
    align-items: center
    padding: 30px 0 20px
  &-contact
    display: flex
    .btnLight
      font-size: 15px
      line-height: 18px
      padding: 11px 35px 12px 35px
    &-block
      display: flex
      align-items: center
      position: relative
      &:not(:last-child)
        padding: 0 40px 0 26px
      p
        font-size: 16px
        line-height: 19px
        margin: 0
        color: #172B52
        i
          color: #999999
          font-style: normal
      ul
        padding: 0
        margin: 0
        li
          list-style: none
          font-size: 18px
          line-height: 18px
      &:before
        content: ''
        position: absolute
        top: 50%
        transform: translateY(-50%)
      &.telephone
        &:before
          width: 12px
          height: 12px
          left: 4px
          margin-top: 2px
          background: url(../img/phone.png) no-repeat center center
      &.work-time
        &:before
          width: 18px
          height: 20px
          left: 0
          background: url(../img/calendar.png) no-repeat center center
      &.address
        &:before
          width: 14px
          height: 18px
          left: 4px
          background: url(../img/map.png) no-repeat center center

/* Top Nav */
.top-nav
  padding: 23px 0 28px
  ul
    margin: 0
    padding: 0
    display: flex
    justify-content: center
    li
      list-style: none
      font-size: 16px
      line-height: 19px
      margin: 0 25px
      &.menu-item-has-child
        a
          color: #EA3938
          position: relative
          display: inline-block
          padding-right: 25px
          &:after
            content: ''
            width: 14px
            height: 8px
            background: url(../img/menu-arrow-down.png) no-repeat center center
            position: absolute
            right: 5px
            top: 50%
            margin-top: -4px

/* Stock Banner */

.stocks-banner
  &-container
    display: flex
    justify-content: space-between
    align-items: center
  &-text
    padding-left: 120px
    box-sizing: border-box
    flex-basis: 580px
    span
      font-size: 18px
      line-height: 21px
      color: #6C6C6A
      display: block
    h2
      font-size: 50px
      color: #172B52
      font-family: $hFont, $mFont, sans-serif
      margin: 10px 0
    .btnLight
      margin-top: 50px
  &-img
    flex-basis: 680px
  .advantages
    padding: 35px 0
    &-container
      display: flex
    &-card
      box-sizing: border-box
      display: flex
      justify-content: space-between
      align-items: center
      &-img
        flex-basis: 47px
        text-align: right
      &-text
        padding-left: 10px
      span
        font-size: 18px
        line-height: 21px
        color: #6C6C6A
      &:first-child
        flex-basis: 390px
        padding-left: 70px
      &:not(:first-child)
        flex-basis: 300px
        padding-left: 100px

.service
  padding: 115px 0 50px
  &-container
    display: flex
    flex-wrap: wrap
    margin: 20px -15px 0
    align-items: center
  &-card
    margin: 30px 15px 0
    border-radius: 20px
    border: 1px solid #C3EBF9
    box-sizing: border-box
    &-text
      width: 60%
      padding: 40px 0 20px 30px
      box-sizing: border-box
      display: flex
      flex-direction: column
      justify-content: space-between
      height: 100%
    h3
      font-size: 24px
      line-height: 29px
      color: #172B52
      font-weight: 500
      margin: 0
    p
      font-size: 18px
      line-height: 24px
      margin: 10px 0 50px
      color: #6C6C6A
    a
      font-size: 18px
      line-height: 21px
      color: $normal
      position: relative
      display: inline-block
      padding-right: 28px
      &:after
        content: ''
        width: 18px
        height: 10px
        background: url(../img/link-arrow-right.png) no-repeat center center
        position: absolute
        right: 0
        top: 50%
        margin-top: -5px
    &:not(.last-card)
      flex-basis: calc(33.33% - 30px)
    &.last-card
      flex-basis: calc(50% - 30px)
  &-slogan
    flex-basis: calc(50% - 30px)
    margin: 30px 15px 0
    h3
      font-size: 24px
      line-height: 29px
      color: #172B52
      font-weight: 500
      margin: 0
    p
      font-size: 18px
      line-height: 25px
      color: #6C6C6A
      margin: 15px 0 0

/* About Us */
.about-us
  padding: 100px 0 150px
  .heading
    span
      width: 60%
  &-container
    display: flex
    justify-content: space-between
    margin-top: 50px
    align-items: center
  &-text
    flex-basis: 500px
    h3
      color: #6C6C6A
      font-size: 24px
      margin: 0
      font-family: $hFont, $mFont, sans-serif
    p
      font-size: 18px
      line-height: 27px
      color: #6C6C6A
      margin: 10px 0 0
  &-chief
    display: flex
    align-items: center
    margin-top: 20px
    &-img
      flex-basis: 140px
      height: 140px
      border: 14px solid $hover
      box-sizing: border-box
      border-radius: 50%
    &-info
      flex-basis: calc(100% - 140px)
      padding-left: 10px
      box-sizing: border-box
      h4
        text-transform: uppercase
        font-size: 14px
        line-height: 21px
        font-weight: 500
        color: #172B52
        margin: 0 0 5px
      ul
        margin: 0
        padding: 0
        li
          list-style: none
          font-size: 12px
          line-height: 16px
          margin: 0 0 3px
          strong
            color: #6C6C6A
            font-weight: 400
  &-slider
    width: calc(100% - 550px)
    padding: 0 55px 30px
    box-sizing: border-box
  &-slide-img
    width: 100%
    height: 450px