@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&display=swap');

@font-face {
    font-family: 'Gotham Pro';
    src: url('GothamPro-Bold.eot?#iefix') format('embedded-opentype'),  url('GothamPro-Bold.woff') format('woff'), url('GothamPro-Bold.ttf')  format('truetype'), url('GothamPro-Bold.svg#GothamPro-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
}